html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  line-height: 2;
  margin-top: 2rem;
  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 2rem;
}

form {
  align-items: center;
}

form label {
  font-size: 1.8rem;
}

div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-primary {
  height: 2.4rem;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

p.error {
  color: red;
  max-width: 28rem;
  text-align: center;
  margin: auto;
  border: 1px solid red;
  border-radius: 0.5rem;
}

input.error {
  border-color: rgb(252, 120, 120);
  background-color: #f7b7b7;
}

div.send-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  max-width: 20rem;
  margin: 3rem auto;
  height: 3rem;
  border-radius: 0.5rem;
  
}

div.sucess {
  border: 1px solid rgb(2, 71, 2);
  background-color: rgb(103, 209, 147);
}

div.failed {
  border: 1px solid red;
  background-color: #f7b7b7;
}

p.send-message {
  margin: 0;
  text-align: center;
}

p.sucess{
  color: rgb(1, 95, 1);
}

p.failed {
  color: red;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 0rem;
  }

  form {
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;

    border-radius: 2.2rem;

    padding: 8rem;
  }

  form label {
    margin-left: 1rem;
  }

  form input {
    padding: 1rem;
    margin: 1rem;
  }
}
