<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Meus CSS -->
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/table.css" />

    <title>Formulário | Datacampo</title>
  </head>
  <body>
    <div class="container">
      <form id="form">
        <h1>Formulário Datacampo</h1>
        <div class="row">
          <div class="form-group col-6">
            <label for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nome"
              id="name"
              required
            />
            <p id="name-error"></p>
          </div>

          <div class="form-group col-6">
            <label for="lastName">Sobrenome</label>
            <input
              type="text"
              class="form-control"
              placeholder="Sobrenome"
              id="lastName"
              required
            />
            <p id="lastName-error"></p>
          </div>

          <div class="form-group">
            <label for="email-input">Email</label>
            <input
              type="email"
              class="form-control"
              id="email-input"
              placeholder="...@example.com"
            />
            <p id="email-error"></p>
          </div>
          <div class="form-group">
            <label for="password-input">Senha</label>
            <input
              type="password"
              class="form-control"
              id="password-input"
              placeholder="******"
            />
            <p id="password-error"></p>
          </div>
          <div class="form-group col-3" id="cep-div">
            <label for="cep-input">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep-input"
              placeholder="00.000-000"
              onkeypress="$(this).mask('00.000-000')"
              required
            />
            <p id="cep-error"></p>
          </div>
          <div class="form-group col-3">
            <label for="number-input">Número</label>
            <input
              type="number"
              class="form-control"
              id="number-input"
              placeholder="N°"
              required
            />
            <p id="number-error"></p>
          </div>

          <div class="form-group col-12">
            <label for="address-input">Endereço</label>
            <input
              type="text"
              class="form-control"
              id="address-input"
              placeholder="Rua, Avenida..."
              required
            />
            <p id="address-error"></p>
          </div>
          <div class="form-group col-12">
            <label for="bairro-input">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro-input"
              placeholder="Conjunto habitacional, centro, jardim..."
              required
            />
            <p id="bairro-error"></p>
          </div>
          <fieldset disabled>
            <div class="row">
              <div class="form-group col-9">
                <label for="city-input">Cidade</label>
                <input
                  type="text"
                  class="form-control"
                  id="city-input"
                  required
                />
                <p id="city-error"></p>
              </div>
              <div class="form-group col-3">
                <label for="uf-input">UF</label>
                <input
                  type="text"
                  class="form-control"
                  id="uf-input"
                  placeholder="Estado"
                  required
                />
                <p id="uf-error"></p>
              </div>
            </div>
          </fieldset>
          <div class="form-group col-3">
            <label for="birthday-input">Data de Nascimento</label>
            <input
              type="date"
              class="form-control"
              id="birthday-input"
            />
            <p id="birthday-error"></p>
          </div>
        </div>
        <div class="button">
          <button
            type="submit"
            class="btn btn-primary col-4"
            id="button"
            onclick="validation()"
          >
            Enviar Formulário
          </button>
        </div>
        <div id="send-div" class="send-div">
          <p id="send-message" class="send-message"></p>
        </div>
      </form>
    </div>
    <h1 id="title-table" class="col-11"></h1>
    <table class="table-striped col-11" id="table"></table>
    <footer>
      <p><a href="https://www.github.com/joaoan2">&copy;JoaoAN2</a></p>
    </footer>

    <script src="/scripts/apiViaCEP.js"></script>
    <script src="/scripts/table.js"></script>

    <!-- Teste commit assinado -->

    <!-- JQuery Script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  </body>
</html>
